@font-face {
	font-family: Lazer84;
	src: url('../fonts/Lazer84.ttf') format('opentype');
}
/* https://www.behance.net/gallery/31261857/LAZER-84-Free-Font */
@font-face {
	font-family: AlienEncounters;
	src: url('../fonts/SFAlienEncounters.ttf');
}
/* http://www.dafont.com/alien-encounters.font */

html {
	height: 100%;
	cursor: default;
}
a {
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	min-height: 100%;

	background: #310440;  /* #0f0f0f; */
	background-image: url('../images/80s-bg-2.jpg');
	background-size: cover;
	background-position:  center;
	background-repeat: no-repeat;
}
/* .bg {
  min-height: 100vh;
  text-align: center;
  position: relative;
  margin: 0;
}
.bg img {
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  max-height: 100vh;
  animation: saturator 500ms infinite;
}
.bg img::selection {
  background: none;
}
.bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  z-index: -1;
}

@keyframes saturator {
  0%, 100% {
    -webkit-filter: saturate(200%);
  }
  50% {
    -webkit-filter: saturate(20%);
  }
} */

header {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
}
header div:hover{
	color: #EB00AF;
}

/* modal button and popup. */
.modal {
	display: none;
    position: absolute; /* Stay in place */
    z-index: 1;
	margin-top: 30px;
	border: 2px solid #DDDDE5;
    width: auto; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

    font-family: Space, monospace;
    font-size: 20px;
}
div.modalcontent {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2 {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	margin: 10px 0;
	padding: 0;
}
p {
	margin: 10px;
	align-self: flex-end;
}
.newgame {
	flex-grow: 0;
	margin: 20px auto;
}
.newgame:hover{
	color: #EB00AF;
}

div.controls {
	margin: 2px 0;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
}

.keyImage {
	width: auto;
	height: auto;
	max-width: 70px;
	max-height: 70px;
}


h1{
	margin: 15px auto;
	font-size: 84px;
	font-family: AlienEncounters;
	color: white;
}
h1 span {
	font-family: Lazer84, 'Press Start 2P', Arial;
	color: #EB00AF;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
canvas {
 	border: 2px solid #DDDDE5;
	margin: 0;
	outline-width: 0;
}
div {
	color: #DDDDE5;
}

.fakecanvas {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: rgba(15,15,15,.85); /* #0f0f0f; */
	border: 2px solid #DDDDE5;
	margin: 0;
	width: 720px;
	height: auto;
}

.choosemode {
	flex-grow: 0.5;
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	font-family: 'Press Start 2P', Arial;
	font-size: 72px;
	color: #DDDDE5;
}
.twoplayer {
	color: #DDDDE5;
	background: #EB00AF;
}
.oneplayer {
	color: #DDDDE5;
	background: #29D7FE;
}
.twoplayer:hover {
	background: #9e0077;
}
.oneplayer:hover {
	background: #01a2c6;
}

.score {
/* 	flex-grow: 0.25; */
	justify-content: space-between;
	vertical-align: middle;
	line-height: 400px;
	font-family: 'Press Start 2P';
	font-size: 120px;
}
.score.playertwo {
	width: 310px;
	text-align: right;
	color: rgba(255, 0, 175, .4);
}
.score.playerone{
	width: 310px;
	text-align: left;
	color: rgba(41, 215, 254, .4);
}

.controls {
	margin: 15px auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: #0f0f0f;  /* almost black (rgba(15,15,15,.2))*/
	border: 2px solid #DDDDE5;

	width: 720px;
	height: auto;
}

#scoreCanvas {
	position:  static;
}
#gameCanvas {
	position: absolute;
}
#menuCanvas {
	position:  absolute;
}