@font-face {
	font-family: Lazer84;
	src: url('fonts/lazer84.ttf');
}
@font-face {
	font-family: AlienEncounters;
	src: url('fonts/SFAlienEncounters.ttf');
}
@font-face {
	font-family: PressStart;
	src: url('fonts/PressStart2P.ttf');
}

body {
	background: #0f0f0f;
	background-image: url('images/80s-bg-2.jpg');
	background-position:  center;
	background-size: auto;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

header {
	margin: 15px auto;
}
h1{
	font-size: 86px;
	margin: 0;
	font-family: AlienEncounters;
	color: white;
}
h1 span {
	font-family: Lazer84;
	color: #EB00AF;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
canvas {
 	border: 2px solid #DDDDE5;
	margin: 0;
	outline-width: 0;
}
div {
	color: #DDDDE5;
}

div.fakecanvas {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: rgba(15,15,15,.9); /* #0f0f0f; */
	border: 2px solid #DDDDE5;
	margin: 0;
	width: 720px;
	height: auto;
}

div.menubutton {
	flex-grow: 0.5;
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	font-family: PressStart, Arial;
	font-size: 72px;
	color: #DDDDE5;
}
div.twoplayer {
	color: #DDDDE5;
	background: #EB00AF;
}
div.oneplayer {
	color: #DDDDE5;
	background: #29D7FE;
}
div.twoplayer:hover {
	background: #9e0077;
}
div.oneplayer:hover {
	background: #01a2c6;
}

div.score {
/* 	flex-grow: 0.25; */
	justify-content: space-between;
	vertical-align: middle;
	line-height: 400px;
	font-family: PressStart;
	font-size: 120px;
}
div.score.playertwo {
	width: 310px;
	text-align: right;
	color: rgba(255, 0, 175, .4);
}
div.score.playerone{
	width: 310px;
	text-align: left;
	color: rgba(41, 215, 254, .4);
}

div.controls {
	margin: 15px auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: #0f0f0f;  /* almost black (rgba(15,15,15,.2))*/
	border: 2px solid #DDDDE5;

	width: 720px;
	height: auto;
}

#scoreCanvas {
	position:  static;
}
#gameCanvas {
	position: absolute;
}
#menuCanvas {
	position:  absolute;
}