body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h1{
	font-size: 36px;
}

section {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

canvas {
	background: white;
	border: 2px solid black;
	margin: 0;
}

div.fakeCanvas {
	background: white;
	border: 2px solid black;
	margin: 0;
	width: 720px;
	height: 400px;
	position: absolute;

	display: flex;
	flex-direction: row;
}

div.menubutton {
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	flex-grow: 0.5;

	font-size: 40px;
	color: black;
}

div.twoplayer:hover {
	background: pink;
}
div.oneplayer:hover {
	background: lightblue;
}

div.scoreboard {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
}

.hidden {
	display: none;
}

#gameCanvas {	
}
